# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# macOS (Flutter)
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/Pods/
**/xcuserdata/

# env
.env
.env*.local
.dist-scratch/
